<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  {% include head.html %}
  {% include head/custom.html %}
  <link rel="stylesheet" href="/css/main.css" media="screen">
</head>
</head>

<body ng-controller="gitHubDataController">
  
{% for app in site.apps %}
    <div ng-init="init('{{ app.file }}', '{{ app.url | prepend:site.baseurl }}')">
    </div>
{% endfor %}

{% include browser-upgrade.html %}
{% include masthead.html %}

<div class="container">
{{ content }}
</div>

<div class="page__footer">
  <footer>
    {% include footer/custom.html %}
    {% include footer.html %}
  </footer>
</div>

{% include scripts.html %}

</body>
</html>
